
/* -------------------------------------
   JULEFARGER (CSS-variabler)
------------------------------------- */
:root {
	--green-dark: #2F4F43;
	--green-light: #A9CBB7;
	--cream: #F9F3E9;
	--gold: #D6BFA4;
	--paper: #fff4e6;
}